/* Write your code here. */
.card11 {
  width: 130px;
  height: 110px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff33;
  border: 2px solid #ffffff30;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card11 img {
  width: 60px;
}
.card11 button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
